:root {
  --vibrant: #4cf79e;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1.2rem;
}

.hidden {
  display: none;
}
.my-1 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.my-2 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

h1.product-logo.product-logo-large {
  text-shadow: 0 0 8px;
}

/* datatable */

.datatable {
    border: solid 2px var(--vibrant);
    border-collapse: collapse;
    font-size: 16px;
}

.datatable thead,
td {
    padding: 3px;
    border: solid 1px grey;
}

.datatable thead {
    font-weight: bold;
    background: var(--vibrant);
    color: black;
    text-align: center;
}


/* sql quiz component */

sql-quiz .sqlQuizHomeDiv {
    margin: 1em 0em;
    background: #f9f9f9;
    padding: 6px;
    border-radius: 6px;
    font-weight: 200;
}

sql-quiz .sqlQuizTitle {
    font-weight: 700;
}

sql-quiz .sqlQuizDescription {}

sql-quiz .sqlQuizInputArea {
    line-height: 130%;
    min-width: 100%;
}

sql-quiz .sqlQuizInputArea .sqlOption {
    min-width: 100%;
    margin: 0.5em 0em;
}

sql-quiz input[type=checkbox] {
    transform: scale(1.5);
    float: left;
}

sql-quiz .sqlOption .optionText {
    display: table;
}

sql-quiz .sqlOption .hintSpan {
    /*when revealed, display: table-row;*/
    display: none;
    color: blue;
    font-weight: 200;
}

sql-quiz .sqlQuizInputArea input {
    margin-right: 1em;
    background: none;
    border-radius: 4px;
    font-size: 0.8em;
    font-weight: 200;
}

sql-quiz .sqlQuizOutputArea .returnOkay {
    margin-top: 0.5em;
}


/* sql exercise component */

sql-exercise .sqlExHomeDiv {
    margin: 1em 0em;
    font-family: Roboto, sans-serif;
    border-radius: 6px;
    background: black;
    color: var(--vibrant);
    padding: 1rem;
 }

sql-exercise .sqlExQuestion {
  font-weight: 700;
  margin-bottom: 1rem;
}

sql-exercise .sqlExComment {
  font-weight: 200;
  margin-bottom: 2rem;
}

sql-exercise form {
    display: block;
}

sql-exercise .sqlExInputArea {
    line-height: 130%;
    min-width: 100%;
}
sql-exercise .sqlExOutputArea output {
  display: block;
}
sql-exercise .sqlExOutputArea {
    overflow: auto;
    background: black;
    color: white;
}
sql-exercise .sqlExOutputArea table tbody tr td {
  font-size: 0.85em;
  font-size: 1rem;
}

sql-exercise .sqlExOutputArea .returnOkay {
    margin-top: 0.5em;
}

sql-exercise .sqlExOutputArea .returnError {
    margin-top: 0.5em;
    color: red;
}

sql-exercise .CodeMirror {
    margin: 0.5em 0em;
}

sql-exercise .sqlExInputArea input {
    margin-right: 1em;
    border-radius: 4px;
    font-size: 0.8em;
    border: none;
    padding: 0.6rem 3rem;

    background: var(--vibrant);
    color: black;
    font-weight: bold;
    font-family: sans-serif;

}
sql-exercise .sqlExInputArea input:hover {
    background: white;
    color: black;
}

#experienced-schema {
    display: none;
}

#experienced-schema.show {
    display: block;
}

/* V2 */

sql-exercise {
  color: black;
}

sql-exercise .sqlExInputArea {
  line-height: 130%;
  min-width: 100%;
}

code {
  background-color: var(--vibrant);
  color: black;
}

.sqlExInputArea .CodeMirror {
  border: 2px solid var(--vibrant);
  margin-bottom: 2rem;
}

#audio-container {
  text-align: center;
}
#audio-container audio {
  min-width: 80%
}
audio::-webkit-media-controls-panel {
  background: var(--vibrant);
}